Project, ReferenceResolveTask, src\AssemblyReferenceResolveTask\ReferenceResolveTask.csproj
Project, Yam.Core, src\yam-core\yam-core.csproj
Project, UT.ReferenceResolve.Task, test\ut-reference-resolve-task\ut-reference-resolve-task.csproj
Lib, xunit, packages\xunit.1.9.1\lib\net20\xunit.dll
Lib, xunit.runner.msbuild, packages\xunit.1.9.1\lib\net20\xunit.runner.msbuild.dll
Lib, xunit.runner.tdnet, packages\xunit.1.9.1\lib\net20\xunit.runner.tdnet.dll
Lib, xunit.runner.utility, packages\xunit.1.9.1\lib\net20\xunit.runner.utility.dll
Lib, xunit.extensions, packages\xunit.extensions.1.9.1\lib\net20\xunit.extensions.dll
